#productContainer{
    background-color: #db9a8f13;
    border-radius: 20px;
    height: 600px;
}
#productContainer h1{
    font-family:sans-serif;
}
#productDetail{
    display: flex;
}

.price{
    color: #d3c081;
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.col-md-6 img{
    width: 480px;
    height: auto;
}
.img-small {
    max-width: 100px; /* Ajusta el valor según el tamaño deseado */
  }

.cantYtotal{
    font-weight: 700;
    color: #d3c081;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cantPrecio{
    font-size: 12px;
}

.cart-item-price{
    text-align: center;
}